@media screen and (min-width: 641px) {

    header, main, footer{
        max-width: 1200px;
        margin: 0 auto;
}


    #menu, #menu::before, #menu.show::before{
        display: none;
    }
    header{
        display: grid;
        grid-template-columns: auto 1fr;
        gap: .5em;
    }
    nav{
    grid-column: 1/3;
    box-shadow: 0 0 10px hsl(0 0% 50%);
}


    nav ul{
        
        display: flex;
        flex-direction: row;
        box-shadow: 1px 1px 4px #999;
    }

    nav li{
        display: block;
        text-decoration: none;
        background-color: var(--secondary-color);
        padding: 25px 0;

    }

    li a:hover,
    li a:active {
        
        background-color: var(--secondary-color);
        text-decoration: underline;
        
    }

    nav a{
        
       
        white-space: wrap;
        color: black;
        background-color: var(--primary-color);
        margin-right: .6em;
        padding: 1em 2em;
    }
    

    footer {
    
    height: 70px;
    text-align: center;
    margin-top: 2em;
    padding: 1em;
    background-color: var(--secondary-color);
    font-family: var(--heading-font);
    margin-bottom: 1em;
}
    /* home page */

    .main-div{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr ;
       
    }

    picture{
        max-width: 1200px;
        width: 100%;
        grid-column: 1/2;
        grid-row: 1/2;
    }
    

    section{
        grid-column: 1/2;
        grid-row:1/2 ;
        max-width:700px ;
        width: 80%;
        margin: 0 auto;
        font-size: .9em;
        margin-top: 150px;
        opacity: 80%;
        height: 240px;
        
    }

    .main-div > p{
        font-size: 1.5em;
    }



   aside{
   
    margin-top: 2em;
    margin-bottom: 2em;
    border-top-right-radius: 2em;
    border-bottom-left-radius:2em ;
    padding: 2em;
    width: 100%;
    max-width: 960px;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr ;

   }

   aside img{
    width: 100%;
    max-width: 1200px;
    margin-right: 0;
    grid-column: 1/2;
    grid-row: 1/2;
    
   }

   aside .call-to-action{
    
    grid-column: 1/2;
    grid-row: 1/2;
    margin-top: 14em;
    max-width: 400px;
    max-height: 200px;
    width: 50%;
   }

   /* meeting-places styles */
    .main-meeting{
     display: grid;
     grid-template-columns: 1fr;
     gap: 2em;
     width: 100%;
     max-width: 1100px;
     margin: 3em auto;
    }
    .main-meeting p{
        font-size: 1.5em;
        width: 80%;
        margin: 1em auto;
        
    }
    div{
        width: 80%;
        justify-self: center;
        justify-self: center;
    }

    form{
        justify-self: center;
    }
    

    /* apply page */

    .main-apply{
        display: grid;
        grid-template-columns: 1fr 1fr;   
        gap: .5em;
        
    }

    .main-apply p{
        text-align: left;
        background-color: #eee;
        border: 4px solid #ccc;
        font-size: 1rem;
        height: auto;
        max-width: 500px;
        width: 100%;
        
        
    }

    .apply-form{
        font-size: 1rem;
        margin-top: 2em;
        max-width: 500px;
        width: 100%;
        max-height: 600px; 
    }
    .apply-form h4{
        text-align: center;
        font-size: 1em;
       
    }
   

}
