:root{
    --primary-color: yellow;
    --secondary-color:  rgba(23, 219, 13, 0.76);
    --heading-font: "Amaranth", "Josefin Sans", "Roboto";
    --body-font: "Roboto", sans-serif;
    --border: 1px solid  rgba(196, 152, 113, 0.744)
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header, main, footer{
    max-width: 640px;
    margin: 0 auto;
}

header{
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    padding:1em;
    font-family: var(--heading-font);
}
header h1{
    border-bottom: var(--border);
    text-align: center;

}

header h2{
    border-top: var(--border);
    text-align: center;
}

header h3{
    text-align: center;
}


#menu{
    margin-left: 9em;
    margin-top: 1em ;
    font-size: 1.5em;
    text-decoration: none;
}

#menu::before{
    display: block;
    content: "☰";
    

}

#menu.show::before{
    display: block;
    content: "✖";
    
}

.show li{
    
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: var(--secondary-color);
    padding: 1em 0;
}

nav li{
    display: none;
}

nav a{
    display: block;
    padding: .5em 1em;
    font-family: var(--heading-font);
    font-size: 1.2em;
    color: black;
    text-decoration: none;
    
}
li a:hover,
li a:active {
	
	background-color: var(--primary-color);
    
}


/* Home styles */
.heroimage{
    border-radius: .4em;
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin: 1em auto;
}
section{
    border-top-left-radius: 2em;
    border-bottom-right-radius: 2em;
    margin: 3em auto;
    padding: 2em;
    background-color:var(--primary-color);
    text-align: left;
    line-height: 2em;
    width: 80%;
    font-family: var(--body-font);
    
}
section h2{
    text-align: center;
    text-decoration: underline;
}

aside{
    font-family: var(--body-font);
    display: grid;
    width: 80%;
    max-width: 640px;
    margin: 0 auto;
    
}
aside img{
    justify-self: center;
    width: 80%;
    max-width: 200px;
    border-radius: 2em;
    margin-top: 2em;
    
}

aside .call-to-action{
    /* white-space: nowrap; */
    margin-top: 2em;
    padding: 1em;
    background-color: var(--secondary-color);
    font-size: 1.4em;
    line-height: 1.5em;
    border-top-left-radius: 1em;
    border-bottom-right-radius: 1em;
    width: 100%;
    max-width: 350px;
    justify-self: center;

}
.call-to-action button{
    margin-top: 1em;
    background-color: var(--primary-color);
    padding: 1em;
    font-size: .8em;
    border-radius: 1em;
    
    
}
.call-to-action button:hover{
    color: red;
}
footer {
    max-width:640px; 
    margin: 0 auto;  
    height: 70px;
    text-align: center;
    margin-top: 2em;
    padding: 1em;
    background-color: var(--secondary-color);
    font-family: var(--heading-font);
}


/* meeting-places styles */

.main-meeting{
    padding: 1em;
    font-family: var(--body-font);
}

.main-meeting p{
    background-color: var(--primary-color);
    padding: 1em;
    border-top-left-radius: 1em;
    border-bottom-right-radius: 1em;
    margin: 1em;
    font-size: 1.3em;
    line-height: 1.4em;

}

button{
    background-color: var(--secondary-color);
    padding: .5em 1em;
    font-size: 1em;
    border-radius: 1em;
    margin-top: 1em;
}

.main-meeting div {
    background-color: rgba(196, 152, 113, 0.744);
    padding: 1em;
    border-top-left-radius: 1em;
    border-bottom-right-radius: 1em;
    margin: 1em;
    font-size: 1.1em;

}

.main-meeting table{

  width: 80%;
  margin: 0 auto;
  border: var(--border);
  box-shadow: 0 0 10px hsl(0 0% 50%);
  border-collapse: collapse;
  
}



caption{
    caption-side: bottom;
    margin-top: 2em;
    background-color:rgba(196, 152, 113, 0.744) ;
    padding: 1em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius:1em ;
}


tr:first-child th{
    background-color: var(--primary-color);
    padding: 1em;
}
tr:nth-of-type(2) th{
    background-color: var(--secondary-color);
}
th, td{
    border: var(--border);
    padding: 1em;
    text-align: center;
}



    




















