:root{
    --primary-color: yellow;
    --secondary-color: #16cc2c;
    --heading-font: "Amaranth", "Josefin Sans", "Roboto";
    --body-font: "Roboto", sans-serif;
    --border: 3px solid  rgba(196, 152, 113, 0.744);
}
/* betnja color:#0d7b3c */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header, main, footer{
    max-width: 640px;
    margin: 0 auto;
    min-width: 500px;
}
main{
    margin-top: 2em;
}

header{
   
    background-color: var(--secondary-color);
    display: grid;
    grid-template-columns: auto 1fr ;
    padding: 3em;
    font-family: var(--heading-font);
    white-space: wrap;
    font-size: .8em;
    
    
}


.heading h1{
    font-size: 2em;
    color: black;
    border-top: var(--border);
}
.heading h2{
    font-size: 1.6em;
    background-color: var(--primary-color) ;
    border-bottom: var(--border);
}
.heading h3 i{
    font-size: 1.2em;
}

#menu{
    border: 1px solid black;
    text-align: center;
    margin-left: 1em ;
    margin-top: 1em ;
    font-size: 2em;
    text-decoration: none;
    color:black;
    border-radius: .4em;
    
    
}

#menu::before{
    
    content: "☰ menu";
    

}

#menu.show::before{
    content: "✖ cancel";
    
}

#menu:hover{
    color: #eee;
}

nav ul{
    grid-column: 1/3;
    display: flex;
    justify-content: space-evenly;
}


.show li{
    display: inline-block;
    text-decoration: none;
    background-color:  rgb(28, 125, 28);
    padding: 1em 1em;
    margin-top: 1.6em;
    
    
    
}

nav li{
    display: none;
}

nav a{
    color: #eee;
    font-family: var(--heading-font);
    font-size: 1.2em;
    text-decoration: none;
   
    
}
li a:hover,
li a:active {

	background-color: var(--primary-color);
    color: black;
    padding: .5em 0;
    
}
.logo{
    object-fit: contain;
    width: 100%;
    width:150px ;
    height: auto;
    margin-right: 1em;
}


/* Home styles */

.main-div{
    
    background-color:  rgba(196, 152, 113, 0.744) ;
    padding-bottom: 2rem;
}
.heroimage{

    border-radius: .4em;
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin: 1em auto;
}


section{
    
    border-top-left-radius: 2em;
    border-bottom-right-radius: 2em;
    margin: 3em auto;
    padding: 2em;
    background-color:var(--primary-color);
    text-align: left;
    line-height: 2em;
    width: 80%;
    font-family: var(--body-font);
    box-shadow: 0 0 10px hsl(0 0% 50%);
    
}
section h2{
    text-align: center;
    text-decoration: underline;
}

.visit{
    font-size: 1.2em;
    text-align: center;
    border-top: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
    line-height: 2.4rem;
    padding: 2em;
    box-shadow: 0 0 10px hsl(0 0% 50%);
}

aside{
    font-family: var(--body-font);
    display: grid;
    width: 80%;
    max-width: 640px;
    margin: 0 auto;
    
}

aside img{
    justify-self: center;
    width: 100%;
    max-width: 400px;
    border-radius: 2em;
    margin-top: 2em;
    box-shadow: 0 0 10px hsl(0 0% 50%);
    
}

#visit-count{
    background-color:var(--secondary-color) ;
    padding: .5rem;
    
}

aside .call-to-action{
    /* white-space: nowrap; */
    margin-top: 2em;
    padding: 1em;
    background-color: #0d7b3c ;
    color: white;
    font-size: 1.4em;
    line-height: 1.5em;
    text-align: center;
    border-top-left-radius: 1em;
    border-bottom-right-radius: 1em;
    width: 100%;
    max-width: 350px;
    justify-self: center;
    box-shadow: 0 0 10px hsl(0 0% 50%);

}
.call-to-action #homebutton {
    margin-top: 1em;
    background-color: var(--primary-color);
    padding: .5em 2em;
    font-size: .8em;
    border-radius: 1em;
    text-decoration: none;

    
    
}
.call-to-action #homebutton :hover{
    color: red;
    text-decoration: underline;
    
}
footer {
    max-width:640px; 
    margin: 0 auto;  
    height: 70px;
    text-align: center;
    margin-top: 2em;
    padding: .5em 1em 3em 1em;
    background-color: var(--secondary-color);
    font-size: 1.2em;
    font-family: var(--heading-font);
    margin-bottom: 2em;
}


/* meeting-places styles */

.main-meeting{
    padding: 1em;
    font-family: var(--body-font);
   
}

.main-meeting p{
    background-color: #eee;
    padding: 1em;
    border-top-left-radius: 1em;
    border-bottom-right-radius: 1em;
    margin: 1em;
    font-size: 1.3em;
    line-height: 1.4em;
    box-shadow: 0 0 10px hsl(0 0% 50%);
    

}
.guess-form label, .guess-form [type=number]{
    display: block;
}
.guess-form [type=number]{
    padding: .75rem;
    width: 100%;
    max-width: 200px;

}    

#meetingbutton{
    background-color: var(--primary-color);
    padding: .5em;
    font-size: 1em;
    border-radius: 1em;
    margin-top: 1em;
}

#meetingbutton:hover{
    color: red;
    box-shadow: 1px 1px 4px #999;

}

.main-meeting div {
    background-color: rgba(196, 152, 113, 0.744);
    padding: 1em;
    border-top-left-radius: 1em;
    border-bottom-right-radius: 1em;
    margin: 1em;
    font-size: 1.1em;
    box-shadow: 0 0 10px hsl(0 0% 50%);

}

.main-meeting table{

  width: 80%;
  margin: 0 auto;
  border: var(--border);
  box-shadow: 0 0 10px hsl(0 0% 50%);
  border-collapse: collapse;
  
}



caption{
    caption-side: bottom;
    margin-top: 2em;
    background-color:rgba(196, 152, 113, 0.744) ;
    padding: 1em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius:1em ;
}


tr:first-child th{
    background-color: var(--primary-color);
    padding: 1em;
}
tr:nth-of-type(2) th{
    background-color: var(--secondary-color);
}
th, td{
    border: var(--border);
    padding: 1em;
    text-align: center;
}


/* apply page */

.main-apply{
    padding: 1em;
    font-size: 1.3em;

}

.main-apply p{
    line-height: 1.4em;
    background-color: #eee;
    border-top-left-radius: 1em;
    border-bottom-right-radius:1em ;
    padding: 1em;
    font-family: var(--body-font);
    box-shadow: 0 0 10px hsl(0 0% 50%);
}

.main-apply span{
    background-color: var(--primary-color);
    padding: 5px;
    font-family: var(--heading-font);
    font-size: 1.3em;
    
}

.apply-form{
    font-family: var(--body-font) ;
    display: grid;
    margin-top: 2em;
    background-color: var(--primary-color);
    padding: 1em;
    border-radius: .5em;
    box-shadow: 0 0 10px hsl(0 0% 50%);
}
.apply-form input[type="text"],
.apply-form input[type="tel"],
.apply-form input[type="email"],
.apply-form select
{
    background-color: #eee;
    display: block;
    border-radius: 6px;
    padding: .75rem;
    width: 100%;
    max-width: 400px;
    
}

.apply-form label{
    display: block;
    padding: 1rem;
    border-radius:.3em;
    border-bottom: var(--border);
    margin-top: 1em;
    
    
}

.apply-form input[type="submit"]{
    border: none;
    background-image: linear-gradient(#9c2c13, #6f200e);
    color: #fff;
    border-radius: 6px;
    padding: .8rem;
    width: 96%;
    max-width: 400px;
    justify-self: center;
    margin-top: 1em;
  


}

.apply-form input:required{
    border-bottom:solid 4px red;
}

.apply-form input:required:valid{
    border-bottom:solid 4px green;

}
/* confirmation page */
.registered-main{
    background-color: var(--primary-color);
    max-width: 640px;
    width: 90%;
    margin: 2em auto;
    padding: 2em;
    border-top-left-radius: 1em;
    border-bottom-right-radius:1em ;
    font-size: 1.2em;
}







    




















