*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    max-width: 1200px;
    margin: 0 auto;
    
}

main h1{
    text-align: center;
    
}

main img{
    display: block;
    width: 400px;
    height: 600px;
    margin: 0 auto;
    

}