@media screen and (min-width: 641px) {
    header, footer{
        max-width: 1200px;
        margin: 0 auto;
        padding: .8em .8em .8em .8em;
        background-color: var(--secondary-color);
    }
    
    .temple-main{ 
        max-width: 1150px;
        margin: 0 auto;
        margin-top: 2em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        position: relative;
        gap: 1em;
        padding: 0 1em;
    } 

    .temple-gallery{
        max-width:  350px;
        width: 100%;
        height: auto;
    }

    .temple-gallery img{
        max-width: 300px;
        width: 100%;
        max-height: 150px;
         box-shadow: 0 2px 4px 0 var(--primary-color);
        
        
    }

    main h1 {
        grid-column: 1 / -1;
    }

    header{
        display: flex;
        justify-content: space-evenly; 
        align-items: center;
        margin-top: 2em;
    }
       
    #menu::before{
        display: none;
    }

    #menu.show::before{
    display: none;
    
    }

   .show li {
    display: inline-block; /* changed from display: none */
  }

   li {
    display: inline-block; /* added to override original display: none */
  }

  .display  li{
    display: block;
    text-align: center;
    background-color: var(--secondary-color);
    padding: 1em 0;
  }


    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    nav a{
        display: inline-block;
        padding: .5em 1em;
        font-family: var(--heading-font);
        font-size: 1.2em;
        color: var(--primary-color);
        text-decoration: none;
    
    }

   
    footer{
        margin-top: 2em;
        padding: 1em;
        text-align: center;
        font-family: var(--body-font);
        background-color: var(--secondary-color);
    }

}