@media screen and (min-width: 641px) {
    body header, body footer{
        max-width: 1200px;
        margin: 0 auto;
        
        background-color: var(--secondary-color);
    }
    
    .temple-main{ 
        max-width: 1150px;
        width: 100%;
        height: auto;
        margin: 0 auto;
        margin-top: 2em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0 1em;
    } 

    .temple-gallery{
        /* max width ensures the size does not overflow */
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
      
    }


    .temple-gallery img{
        width: 100%;
        height: auto;
        margin: 0 auto;
    }


     h1 {
        grid-column: 1 / -1;
        margin: 0 auto;
    }

    header{
        display: flex;
        justify-content: space-evenly; 
        align-items: center;
        margin-top: 2em;
    }
   
    #menu.show::before, #menu::before, #menu{
    display: none;
    
    }
 
    nav ul li {
    display: inline-block;
    }


    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    nav a{
        display: inline-block;
        padding: .5em 1em;
        font-family: var(--heading-font);
        font-size: 1.2em;
        color: var(--primary-color);
        text-decoration: none;
    
    }

   
    footer{
        margin-top: 2em;
        padding: 1em;
        text-align: center;
        font-family: var(--body-font);
        background-color: var(--secondary-color);
    }

}