@media screen and  (min-width: 641px){

    header, main, footer{
        max-width: 1000px;
        margin-top: 2em;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .web-form select,
    .web-form input[type="date"],
    .web-form textarea,
    .web-form input[type="text"]
    {
	display: block;
	width: 90%;
	max-width: 850px;
	height: 44px;
	border-radius: 6px;
   
    }
    .web-form textarea{
	height: 99px
    }

    input[type="submit"]{
	border: none;
    background-image: linear-gradient(#9c2c13, #6f200e);
    color: #fff;
    border-radius: 6px;
    padding: .8rem;
    width: 90%;
	max-width: 300px;
	font-size: 1.2rem;
    margin: 2rem 0 2rem 55%;
    box-shadow: 1px 1px 4px #999;

}
    .review-main{
	height: 160px;
	text-align: center;
	padding: .8rem;
    font-size: 1.2em;
}

	

}