:root{
    --primary-color:#d7e0e2;
    --secondary-color:hsla(244, 94%, 43%, 0.871);
    --accent-color:red;
    --accent-color2:rgb(206, 180, 66);
    --accent-color3: black;
    --heading-font: "Roboto", "Josefin Sans";
    --body-font: "Amaranth", sans-serif;
    --border: 9px solid var(--accent-color);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header, .main-section, footer{
    max-width: 640px;
    margin: 0 auto;
    
}

header{
    height: 100px;
    background-color: var(--accent-color2);
    border-bottom:var(--border) ;
    display: flex;
    justify-content: center;
    
    
    
}

.main-section{
    background-color: var(--primary-color);
}

h1{ 
    height: 40px;
    padding: .1em .4em;
    font-family: var(--heading-font);
    color: var(--secondary-color);
    background-color: var(--primary-color);
    text-align: center;
    margin: 1em 0 0 0;
    
}

h2{
    font-size: 1.4em;
    margin-top: 1.5em;
    margin-bottom: 1em;
    font-family: var(--heading-font);
    color: var(--secondary-color);
    text-align: center;
       
}

ul li{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    line-height: 2em;
    margin-left: 5rem;
    
    
}

ul li span{
    grid-column: 1/2;
    font-weight: bold;
    
    
    
}
.weather{
    max-width: 640px;
    height: auto;
    text-align: center;
}

.weather img{
    width: 20%;
}

 .heroimage{

    width: 100%;
    height: auto;
    
    
    
}
ul{

    list-style-type: none;
    font-family: var(--body-font);
    text-align: left;
}



footer{
    margin-top: .2em;
    text-align:center;
    font-family: var(--heading-font);
    background-color: var(--primary-color);
    border-top: var(--border);
    color:var(--accent-color3);

}

