:root{
    --primary-color: rgb(41, 67, 73);
    --secondary-color: rgb(253, 108, 40);
    --heading-font: "Roboto", "Josefin Sans";
    --body-font: "Roboto", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer{
    max-width: 640px;
    margin: 0 auto;
    padding: .8em .8em .8em .8em;
    background-color: var(--secondary-color);
}
main{
    max-width: 640px;
    margin: 0 auto;
    margin-top: 2em;
    display: grid;
    grid-template-columns: 1fr  ;
    gap: 1em;
    padding: 0 1em;
}

figure{
    text-align: center;
    font-family: var(--body-font);
    font-size: 1.2em;
    color: var(--primary-color);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
h1{
   
    font-family: var(--heading-font);
    font-size: em;
    color: var(--primary-color);
    text-align: center;
    margin: .8em;
    font-family: "Josefin Sans", sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
h2{
    
    font-family: var(--heading-font);
    font-size: 2.5em;
    color: var(--primary-color);
    font-family: "Josefin Sans", sans-serif;

}

/* Remember that using flex model deals with parent and child relationships */
/* nav ul{
    display: flex;
    justify-content: flex-end;
    
}


nav li {
    background-color: var();
    list-style: none;
    color: var(--primary-color);
    font-family: var(--heading-font);
    margin: 0 1em;

}

nav a{
    color: var(--primary-color);
    text-decoration: none;
    font-family: var(--heading-font);
    font-weight: bold;
    font-size: .8rem;
}
main{
    max-width: 640px;
    margin: 0 auto;
} */

#menu{
    
    font-size: 1.5em;
    font-weight: 700;
    text-decoration: none;
    color: var(--primary-color);;
    margin-left: 17.5em;
    
    
}

#menu.show::before{
    display: block;
    content: "✖";
    margin-left: 16.9em;
}

.show li{
    
    display: block;
    text-align: center;
    background-color: rgb(219, 216, 190);
    padding: 1em 0;
    margin-right: 1em;
    
}

li{
    display: none;
}
#menu::before{
    content: "☰";

}

ul a{
    display: block;
    padding: .5em 1em;
    font-family: var(--heading-font);
    font-size: 1.2em;
    color: var(--primary-color);
    text-decoration: none;
    
}
ul a:hover,
ul a:active {
	color: white;
	background-color: var(--primary-color);
    
}

