:root{
    --primary-color: rgb(56, 71, 75);
    --secondary-color:  rgb(50 253 40 / 40%);
    --heading-font: "Amaranth", "Josefin Sans", "Roboto";
    --body-font: "Roboto", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer{
    
    margin: 0 auto;
    padding: 20px;
    background-color: var(--secondary-color);
}
main{
    max-width: 640px;
    margin: 0 auto;
    margin-top: 2em;
    display: grid;
    grid-template-columns: 1fr  ;
    gap: 1em;
    padding: 0 1em;
}

figure{
    text-align: center;
    font-family: var(--body-font);
    font-size: 1.2em;
    color: var(--primary-color);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-top: 2em;
}
h1{
   
    font-family: var(--heading-font);
    font-size: 1.9em;
    color: var(--primary-color);
    text-align: center;
    margin: .8em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
h2{
    
    font-family: var(--heading-font);
    color: var(--primary-color);
    

}


header{
    display: grid;
    grid-template-columns: 1fr auto; 
}

#menu{
    
    font-size: 1em;
    font-weight: 700;
    text-decoration: none;
    color: var(--primary-color);
    margin-left: 30%;
    
     
}

#menu.show::before{
    display: block;
    content: "✖";
    
}

.show li{
    
    display: block;
    text-align: center;
    background-color: rgb(219, 216, 190);
    padding: 1em 0;
}

li{
    display: none;
}
#menu::before{
    display: block;
    content: "☰";
    

}
nav a{
    display: block;
    padding: .5em 1em;
    font-family: var(--heading-font);
    font-size: 1.2em;
    color: var(--primary-color);
    text-decoration: none;
    
}
li a:hover,
li a:active {
	color: white;
	background-color: var(--primary-color);
    
}

footer{
    margin-top: 2em;
    text-align:center;
    font-family: var(--heading-font);
}

